<ion-view view-title="农家风味">
  <ion-content on-swipe-left="onSwipeLeft()" lazy-scroll>
    <div class="list list-inset">
      <div class="item item-icon-right text-center" ng-click="">
        <span class="balanced">农家：让城里人直接购买乡下的土货</span>
        <i class="icon ion-ios-arrow-right"></i>
      </div>
    </div>
    
    <!-- 加载产品 -->
    
    <div class="row" ng-repeat="item in items" ng-if="$index % 2 === 0">
      <div class="col col-50" ng-if="$index < items.length">
        <div class="card" ng-click="showItemDetail(items[$index])" nav-transition="ios">
          <div class="item item-image">
            <img image-lazy-src="{{items[$index].thumb_image}}" image-lazy-loader="lines" class="full-image">
          </div>
          <div class="item">
            <p>{{items[$index].title}}</p>
            <p class="balanced">{{items[$index].price | currency: '¥'}}</p>
          </div>
        </div>
      </div>
      <div class="col col-50" ng-if="$index + 1 < items.length">
        <div class="card" ng-click="showItemDetail(items[$index+1])">
          <div class="item item-image">
            <img image-lazy-src="{{items[$index+1].thumb_image}}" image-lazy-loader="lines" class="full-image">
          </div>
          <div class="item">
            <p>{{items[$index+1].title}}</p>
            <p class="balanced">{{items[$index+1].price | currency: '¥'}}</p>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>